<header class="c-site-header">
  <div>
    <div id="scene">
      <div class="layer c-site-header__layer c-site-header__layer--1" data-depth="0.05">
        <%= image_tag 'header/header-1.png' %>
      </div>
      <div class="layer c-site-header__layer c-site-header__layer--2" data-depth="-0.10">
        <%= image_tag 'header/header-2.png' %>
      </div>
      <div class="layer c-site-header__layer c-site-header__layer--3" data-depth="-0.30">
        <%= image_tag 'header/header-3.png' %>
      </div>
      <div class="layer c-site-header__layer c-site-header__layer--4" data-depth="-0.50">
        <%= image_tag 'header/header-4.png' %>
      </div>
      <div class="layer c-site-header__layer c-site-header__layer--5" data-depth="-0.80">
        <%= image_tag 'header/header-5.png' %>
      </div>
    </div>
  </div>
</header>

<section>
  <%= image_tag 'header/logo.jpg', class:"c-logo-main" %>
  <div class="c-social-links">
    <ul class="c-social-links__list">
      <li class="c-social-links__item">
        <a class="c-social-links__link" href="https://www.facebook.com/SIMITCHELL.CO.UK" target="_blank" title="Visit Si Mitchel on Facebook">facebook</a>
      </li>
      <li class="c-social-links__item">
        <a class="c-social-links__link" href="https://www.instagram.com/si_mitchell" target="_blank" title="Visit Si Mitchel on Instagram">instagram</a>
      </li>
      <li class="c-social-links__item">
        <a class="c-social-links__link" href="http://simitchell.bigcartel.com" target="_blank" title="Visit Si Mitchel's shop">shop</a>
      </li>
    </ul>
  </div>
</section>
